<!--TEMPLATE JAGOBASA-->

<!doctype html>
<html lang="en">

  <head>

    {% block title %}<title>Jago basa</title>{% endblock %}
    <meta charset="utf-8" />
    <!-- Responsibilaty -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Сompiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Сompiled JavaScript -->-
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <!-- Добавление шрифта -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">

    <!-- Добавление дополнительного статического CSS файла -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles_jago.css' %}" />

  </head>
<!--  ====================================================    -->
 <style>


 </style>
<!--  ====================================================    -->
 <body>

<!--  ====================================================    -->
{% block sidebar %}

<side-left class="side-left">

    <div class = "image-logo">
         <img src="{% static 'img_background/JAGO Logo Yellow.jpg' %}" alt="Jago - Italian lighting"
                     style="width:98%;"/>
    </div>

    <div class="menu">
            <a class = "link" href="{% url 'index' %}"><strong>Home</strong></a><br>
            <a class = "link" href="{% url 'catalogo' %}"><strong>Cataloghi</strong></a><br>
            <a class = "link" href="{% url 'collezione' %}"><strong>Collezioni</strong></a><br>
            <a class = "link" href="{% url 'tipo' %}"><strong>Tipi di Prodotti</strong></a><br>
            <a class = "link" href="{% url 'progetto' 0 %}"><strong>Progetti</strong></a>
    </div>  <!-- menu -->

    <div class = "social">
          <a href="https://facebook.com/jagolampadari" target="_blank">
          <img class = "scale-size" src="{% static 'img_background/Icone_Facebook.jpg' %}" alt="Jago - Facebook"
                     style="width: 28px;"/> </a>
          <a href="https://www.instagram.com/jago_italian_lighting" target="_blank">
          <img class = "scale-size" src="{% static 'img_background/Icone_Instagram.jpg' %}" alt="Jago - Instagram"
                     style="width: 28px;"/> </a>
          <a href="viber://chat?number=393334953433" target="_blank">
          <img class = "scale-size" src="{% static 'img_background/Icone_Viber.jpg' %}" alt="Jago - Viber"
                     style="width: 28px;"/> </a>
    </div>

    <div class="copy-right">
         <img src="{% static 'img_background/Jago Indirizzi white.jpg' %}" alt="Indirizzi"
                   style="width:100%;"/>
    </div>  <!-- copy_right  -->


</side-left> <!-- side_left -->


 {% endblock %} <!-- sidebar -->
<!--   ==========================================================  -->

        <content class="content">
          {% block content %}

          {% endblock %}
        </content>

  <!--   ==========================================================  -->

        <side-right class="side-right">
          {% block side_right %}

          {% endblock %}
        </side-right>


 </body>


</html>
