<!--TEMPLATE PROGETTO LIST -->

 <style>

   .image-book {
        display: none;
        background: none;
        border: 0px solid white;
        position: absolute;
        left:1.0%;      top:1.0%;
        width: 99.0%;   height: 98.0%;
        padding-left: 0px;
        overflow-y: auto;
   }


@media (min-width: 500px) {

    .image-book {                         /* computer */
        display: block;
        background: none;
        border: 0px solid white;
        position: absolute;
        vertical-align: top;
        left:3.0%;      top:8.0%;
        width: 97.0%;   height: 94.0%;
        padding-right: 2.5%;
        overflow-y: auto;
    }

    .image-book::-webkit-scrollbar {        /* computer */
        width: 5px;    height: 5px;
    }

    .image-book::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, rgb(50, 50, 50), rgb(200, 200, 200));
        border-radius: 5px;
    }


}

 </style>
<!--  ======================================================= -->

{% extends "base_generic_K.html" %}
{% block title %}<title>CatalogBook</title>{% endblock %}
{% load static %}

<!--  ======================================================= -->
{% block content %}

<div class = "tytle-page">
        <p> Catalogo {{catalog_nome}} </p>
</div>

{% if user.is_authenticated %}
        <div class = "image-book">
             {% for page in book_list %}
               <p>{{ page.num_pag }}
                 <img src="{% static page.path %}" alt="{{ page.1 }}"
                 style="width:100%; height:92%; border: 2px solid gray; vertical-align: top;"/></p>
               <br><br>
               <p></p>
             {% endfor %}
        </div>  <!-- image-book        -->
{% else %}
        <div class = "text-elenco">
                        <p><b> Per visualizzare il catalogo è necessario effettuare </b></p>
                        <p style = "font-size: 12"><b> <a href="{% url 'login' %}?next={{request.path}}">>>login</a>
                            o <a href="{% url 'register' %}?next={{request.path}}">>>registrarsi </a></b></p>  </a>
        </div> <!-- text-elenco -->
{% endif %}


{% endblock %} <!-- content -->

<!-- ===========  SIDE RIGHT ===================================== -->

{% block side_right %}

   <div class = "right-nome-top">
            <p> {{ catalog_nome }} </p> </div>

    <div class = "right-image-top">
            <img src="{% static catalog_img %}" alt=""
            style="width: 100%; height: 100%; object-fit: fill"/>
    </div> <!-- right-image-top -->

    <div class = "right-list" style = "text-align: left;">
      {% if user.is_authenticated %}
          {% for page in book_content %}
               <p style = "font-size: 11px;">{{ page.1 }}
               <a href="{% url 'catalogo-book' catalog_pk page.2 1 %}">
               <img src="{% static page.0 %}" alt="{{ page.0 }}"
               style="width:80%; border: 1px solid gray;text-align: center;"/></a></p>
               <p></p>
          {% endfor %}
      {% else %}
          {% for page in book_content %}
               <p style = "font-size: 11px;">{{ page.1 }}
               <img src="{% static page.0 %}" alt="{{ page.0 }}"
               style="width:80%; border: 1px solid gray; align-horizontal: center"/></p>
               <p></p>
          {% endfor %}
      {% endif %}
    </div>    <!-- right-list -->



{% endblock %}  <!-- side-right -->


</body>
</html>

