<!--TEMPLATE COLLEZIONE-->
    <style>

    </style>
<!--  ======================================================= -->

{% extends "base_generic_K.html" %}

{% block title %}<title>Collezioni</title>{% endblock %}
{% load static %}

<!--  ======================================================= -->
{% block content %}

<div class = "tytle-page">
        {% if catalogo_pk %}
        <p> {{tytle_nome}}  {{right_text}} </p>
        {% else %}
        <p> {{tytle_nome}}  di Jago </p>
        {% endif %}
</div>

<div class="collezione-list">

      {% for col in collist %}

        <figure style = "display:inline-block; max-width: 17%; margin: 2.0">
            <p style = "font-size: 10; margin-top: 0.1em; margin-bottom: 0.1em; text-align: left;">{{ col.nome }}</p>
         {% if catalogo_pk %}
          <a href="{% url 'catalogo-detail-collezione' catalogo_pk col.pk %}">
            <img class = "scale-border" title = "Lighting collection {{col.nome}}" src="{% static col.path %}" alt="{{ col.nome }}"
            style="width: 70%;"/>  </a>
         {% else %}
         <a href="{% url 'collezione-detail' col.pk %}">
            <img class = "scale-border" title = "Lighting collection {{col.nome}}" src="{% static col.path %}" alt="{{ col.nome }}"
            style="width: 100%; "/></a>
         {% endif %}
            <br>  <br>
        </figure>

      {% endfor %}

</div>   <!-- collezione-list -->

{% endblock %} <!-- content -->

<!-- ======================================================================= -->
{% block side_right %}

<div class = "right-image-top">
    <a href="{% url 'index' %}">
            <img src="{% static right_img %}" alt=""
            style="width: 100%; height: 100%; object-fit: fill"/> </a>
</div>

<div class = "right-list">
    <p></p>
    {% for col in collist %}
        {% if col.prodotto_set.all.count == 0 %}
        <p style="text-align: left;">
           <a class = "link" href="{% url 'collezione-detail' col.pk %}"> {{ col.nome }} </a></p>
        {% else %}
        <p style="text-align: left;">
           <a class = "link" href="{% url 'collezione-detail' col.pk %}">{{ col.nome }}&nbsp;&nbsp;({{col.prodotto_set.all.count}}) </a></p>
        {% endif %}
    {% endfor %}
</div>

<div class = "right-nome-top">
  <p> Collezione </p>
  <p> {{num_collezione}} </p>
</div>

<div class = "novita-mobile" style = "text-align: left; font-size: 11;">
    {% for col in collist %}
        <a class = "link" href="{% url 'collezione-detail' col.pk %}">
           {{ col.nome }}&nbsp;({{col.prodotto_set.all.count}}) </a>
        <br>
    {% endfor %}
</div>

{% endblock %} <!-- site_right -->
