<!--TEMPLATE PROGETTO LIST -->

 <style>

.login {
        display: none;
    }


@media (min-width: 500px) {

    .login {                         /* computer */
        display: block;
        background: rgb(150, 150, 150);
        border: 1px solid white;
        position: absolute;
        vertical-align: top;
        left:  20.0%;   top: 5.0%;
        width: 60.0%;   height: 80.0%;
        padding-left: 0%;
        color: black;

    }
}
 </style>
<!--  ======================================================= -->

{% extends "base_generic_K.html" %}
{% block title %}<title>Create an account</title>{% endblock %}

{% load static %}

<!--  ======================================================= -->
{% block content %}

<div class="login">

    <div style="margin:10px">
        <h4> Contact us </h4>
<!--               <p style = "color: black"> Пожалуйста, напишите свое имя, адрес электронной почты и сообщение. </p>-->
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Отправить</button>
        </form>
    </div>

</div>   <!-- login -->

{% endblock %} <!-- content -->

<!-- ===========  SIDE RIGHT ===================================== -->

{% block side_right %}

{% endblock %}  <!-- side-right -->


</body>
</html>

