<!--TEMPLATE INDEX-->


<style>

.menu-button {

}

.list-detail {                           /* mobile */
        background: none;
        justify-content: space-between;
        position: absolute;
        left:1.5%;       top:1%;
        width: 98.5%;     height: 98.0%;
        overflow-y: scroll;
}
.list-detail::-webkit-scrollbar  {
        display: none;
}

.tytle-lighting {                           /* mobile */
        display: none;
        background: none;
        position: absolute;
        left: 0%;        top: 0%;
        width: 0.0%;   height: 0.0%;
        padding-left: 0;
        font-family: Anton;
        font-size: 20px;
        color: white;
    }

.lenta-horizont {                          /* mobile */
        display: flex;
        display: block;
        background: none;
        position: relative;
        left: 0%;        top: 0%;
        width-max: 1000px;   height: 200px;
        border: 0px solid red;
        overflow: auto;

        -webkit-column-width: 50.0%; -moz-column-width: 50.0%; column-width: 50.0%;
        -webkit-column-count: 1;     -moz-column-count: 1;     column-count: 1;
        -webkit-column-gap: 0%;      -moz-column-gap: 0%;      column-gap: 0%;
        -webkit-column-rule: 0px solid #ccc;   -moz-column-rule: 0px solid #ccc;  column-rule: 0px solid #ccc;
}
.lenta-horizont::-webkit-scrollbar {
        width: 6px;    height: 6px;
    }
.lenta-horizont::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, rgb(50, 50, 50), rgb(200, 200, 200));
  border-radius: 5px;
}

/* ================================================================== */

@media (min-width: 500px) {



.list-detail {                             /* computer */
        display: block;
        background: none;
        justify-content: space-between;
        position: absolute;
        left:1.5%;       top:10%;
        width: 98.5%;     height: 89.0%;
        overflow-y: scroll;
}
.list-detail::-webkit-scrollbar  {
        display: none;
}
.tytle-lighting {                           /* computer */
        display: block;
        background: none;
        position: absolute;
        left: 3%;        top: 1%;
        width: 93.0%;   height: 8.0%;
        padding-left: 0;
        font-family: Anton;
        font-size: 32px;
        color: white;
    }

.lenta-horizont {                          /* computer */
        display: flex;
        display: inline-block;
        background: none;
        position: relative;
        left: 0%;        top: 0%;
        width: 100%;   height: 250px;
        border: 0px solid red;
        padding-top: 10px;
        overflow: auto;

<!--        -webkit-column-width: 100.0%; -moz-column-width: 100.0%; column-width: 100.0%;-->
<!--        -webkit-column-count: 1;     -moz-column-count: 1;     column-count: 1;-->
<!--        -webkit-column-gap: 0%;      -moz-column-gap: 0%;      column-gap: 0%;-->
<!--        -webkit-column-rule: 0px solid #ccc;   -moz-column-rule: 0px solid #ccc;  column-rule: 0px solid #ccc;-->
}

.lenta-horizont::-webkit-scrollbar {
        width: 10px;    height: 10px;
    }
.lenta-horizont::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, rgb(50, 50, 50), rgb(200, 200, 200));
  border-radius: 5px;
}

}

</style>

{% extends "base_generic_K.html" %}

{% block title %}<title> Jago - Italian Lighting </title>{% endblock %}
{% load static %}

<!--   =================== SIDE-LEFT ======================  -->

<side-left class="side-left">
{% block sidebar %}

    <div class = "image-logo">
          <a href="{% url 'index' %}">
         <img src="{% static 'img_background/JAGO Logo Yellow.jpg' %}" alt="Jago - Italian lighting"
              style="width:98%;"/></a>
    </div>

    <div class="menu">
            <div class = "menu-button">
            <a class = "link" href="{% url 'catalogo' %}"><strong>Cataloghi</strong></a></div>
            <div class = "menu-button">
            <a class = "link" href="{% url 'collezione' %}"><strong>Collezioni</strong></a></div>
            <div class = "menu-button">
            <a class = "link" href="{% url 'progetto' 0 %}"><strong>Progetti</strong></a></div>
            <div class = "menu-button">
            <a class = "link" href="{% url 'tipo' %}"><strong>Tipi di Prodotti</strong></a></div>
            <div class = "menu-button">
            <a class = "link" href="{% url 'elenco' 1 100 %}"><strong>Elenco di Prodotti</strong></a></div>

    </div>  <!-- menu -->

    <div class = "count-jago">
  <ul>
    <li>Catalochi: {{ num_cata }}</li>
    <li>Collezione: {{ num_coll }}</li>
    <li>Tipi Prodotti: {{ num_tipi }}</li>
    <li>Prodotti: {{ num_prod }}</li>
    <li>Progetti: {{ num_prog }}</li>
    <li>Images: {{ num_imag }}</li>
  </ul>
 </div>

    <div class = "social">
          <a href="https://facebook.com/jagolampadari" target="_blank">
          <img class = "scale-size" src="{% static 'img_background/Icone_Facebook.jpg' %}" alt="Jago - Facebook"
                     style="width: 28px;"/> </a>
          <a href="https://www.instagram.com/jago_italian_lighting" target="_blank">
          <img class = "scale-size" src="{% static 'img_background/Icone_Instagram.jpg' %}" alt="Jago - Instagram"
                     style="width: 28px;"/> </a>
          <a href="viber://chat?number=393334953433" target="_blank">
          <img class = "scale-size" src="{% static 'img_background/Icone_Viber.jpg' %}" alt="Jago - Viber"
                     style="width: 28px;"/> </a>
    </div>

    <div class="copy-right">
         <img src="{% static 'img_background/Jago Indirizzi white.jpg' %}" alt="Indirizzi"
                   style="width:95%;"/>
    </div>  <!-- copy_right  -->



 {% endblock %} <!-- sidebar -->
    </side-left> <!-- side_left -->

<!--   =================== CONTENT ======================  -->
{% block content %}

<div class = "tytle-lighting" style = "text-align: right;">
    <p> Presentazione </p>
</div>

<div class = "list-detail">
<!--   =================== SLIDE SHOW COLLEZIONE BACK ======================  -->

<div class="slideshow-container">

   {% for coll in collezionelist %}
       <div class="mySlides fade">
          <img src="{% static coll.path %}" alt="{{ coll.path }}" style="width:100%">
          <div class="text"> Collezione {{ coll.nome }} </div>
       </div>
   {% endfor %}

       <div style="text-align:center">
           {% for coll in collezionelist %}
               <span class="dot" onclick="currentSlide(coll.slide)"></span>
           {% endfor %}
       </div>

</div>   <!-- slideshow-container -->

<script> // JavaScript for slides

let slideIndex = 0;
showSlides();

function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 3000); // Change image every 2 seconds
}

// END JavaScript for slides
</script>

    <br><br> <br><br>

<!--   =================== NUOVI PRODOTTI ======================  -->
    <div class = "tytle-home"> Nuovi prodotti </div>
    <br>
    <div class = "lenta-horizont">
    {% for nov in novita %}
         <a href="{% url 'prodotto' nov.0 1 nov.4 %}">
         <img class = "scale-border" title = "{{nov.4}} {{nov.3}}" src="{% static nov.2 %}" alt="{{ nov.2 }}"
              style="height: 85%; text-align: center; margin-right: 2%"/>  </a>
    {% endfor %}
    </div>     <!-- lenta-horizont -->

<br><br><br><br>

<!--   =================== CATALOGHI ======================  -->
    <a class = "tytle-home" href="{% url 'catalogo' %}" > Cataloghi </a>
    <br>
    <div class = "lenta-horizont">
        {% for cata in catalogolist %}
            <a href="{% url 'catalogo-detail' cata.pk %}">
            <img class = "scale-border" title = "Catalog {{cata.nome}}" src="{% static cata.path %}" alt="{{ cata.nome }}"
            style = "height: 85%;  text-align: center; margin-right: 5.0%;  box-shadow: 5px 5px 15px white;" /> </a>
        {% endfor %}
    </div>     <!-- lenta-horizont -->
<br><br><br><br>

<!--   =================== COLLEZIONI ======================  -->
      <a class = "tytle-home" href="{% url 'collezione' %}"> Collezioni </a>
      <br>
    <div class = "lenta-horizont">
        {% for coll in collezioni_tutti %}
          <a href="{% url 'collezione-detail' coll.pk %}">
            <img class = "scale-border" title = "Lighting collection {{coll.nome}}" src="{% static coll.path %}" alt="{{ coll.nome }}"
             style="height: 80%; margin-right: 2.0%; margin-bottom: 5.0%;"/> </a>
        {% endfor %}
    </div>     <!-- lenta-horizont -->
<br><br><br><br>

<!--   =================== PROGETTI ======================  -->
    <a class = "tytle-home" href="{% url 'progetto' 0 %}">Progetti </a>
    <br>
    <div class = "lenta-horizont">
        {% for prog in progettolist %}
          <a href="{% url 'progetto-detail' prog.stanza prog.pk %}">
            <img class = "scale-border" title = "Lighting project {{prog.nome}}" src="{% static prog.path %}" alt="{{ prog.nome }}"
             style="height: 85%; margin: 1.5% "/> </a>
        {% endfor %}
    </div>     <!-- lenta-horizont -->
<br><br><br><br>

 <!--   =================== TIPI ======================  -->
    <a class = "tytle-home" href="{% url 'tipo' %}">Tipi di prodotti </a>
    <br>
    <div class = "lenta-horizont">
        {% for tipo in tiplist %}
          <a href="{% url 'tipo-detail' tipo.pk %}">
            <img class = "scale-border" title = "{{tipo.tipo}}" src="{% static tipo.path %}" alt="{{ tipo.tipo }}"
             style="height: 85%; margin: 2.0% "/> </a>
        {% endfor %}
    </div>     <!-- lenta-horizont -->
<br><br><br><br>

</div> <!-- list-detail -->

{% endblock %} <!-- content -->

<!--   =================== SIDE RICHT ======================  -->
 <div class="side-right">

     {% block side_right %}
        <div class = "right-nome-top">
        <p>  Nuovi prodotti  </p>
        </div>

         <div class = "novita-mobile" >
             {% for nov in novita %}
                 <a href="{% url 'prodotto' nov.0 1 nov.4 %}">
                    <img class = "scale-size" title = "{{nov.4}} {{nov.3}}" src="{% static nov.2 %}" alt="{{ nov.2 }}"
                    style="height: 70px; text-align: center;"/>  </a>

             {% endfor %}
         </div> <!-- novita-mobile -->


         <div class = "novita" >

             {% for nov in novita %}

                 <a href="{% url 'prodotto' nov.0 1 nov.4 %}">
                    <img class = "scale-size" title = "{{nov.4}} {{nov.3}}" src="{% static nov.2 %}" alt="{{ nov.2 }}"
                    style="height: 25%; text-align: center;"/>  </a>
             <br><br>
             {% endfor %}
         </div> <!-- novita -->




     {% endblock %}

 </div>  <!-- side-right -->






