
<style>

   .image-prodotto {                           /* mobile */
        background: none;
        border: 0px solid red;
        position: absolute;
        left:20.0%;       top:8.0%;
        width: 80.0%;   height: 92.0%;
        padding-left: 0px;
        overflow: auto;
    }

    .tipi-prod {                              /* mobile */
        position: absolute;
        border: 0px solid green;
        left:3%;       top:8%;
        width: 43.0%;   height: 50.0%;
        padding-left: 0;
        font-size: 10;
        color: white;
        overflow: none;
    }

   .scheda-prod {
        display: none;
        background: none;
        border: 0px solid red;
        position: absolute;
        left:2%;       top:50%;
        width: 30.0%;   height: 45.0%;
        padding-left: 0px;
        font-size: 10;  color: yellow;
        overflow: auto;
    }
    .text-elenco {                            /* mobile */
        display: none;

    }


@media (min-width: 500px) {

.image-prodotto {                           /* computer */
        display: block;
        background: black;
        background: none;
        border: 0px solid red;
        position: absolute;
        left:26.0%;       top:5%;
        width: 73.5%;   height: 95.5%;
        padding-left: 0px;
        text-align: center;
        overflow-y: scroll;

    }
.image-prodotto::-webkit-scrollbar {        /* computer */
        width: 5px;    height: 5px;
}

.image-prodotto::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, rgb(50, 50, 50), rgb(200, 200, 200));
        border-radius: 5px;
}
.scheda-prod {                             /* computer */
        background: none;
        border: 0px solid red;
        position: absolute;
        left:1%;        top:50%;
        width: 30.0%;   height: 51.0%;
        padding-left: 0px;
        font-size: 10;  color: yellow;
        ooverflow-y: scroll;
    }
.scheda-prod::-webkit-scrollbar {        /* computer */
        width: 5px;    height: 5px;
}
.scheda-prod::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, rgb(50, 50, 50), rgb(200, 200, 200));
        border-radius: 5px;
}

.tipi-prod {                              /* computer */
        position: absolute;
        border: 0px solid green;
        left:3%;       top:10%;
        width: 25.0%;   height: 50.0%;
        padding-left: 0;
        font-size: 10;
        color: white;
        overflow: none;
    }
.text-elenco {                            /* computer */
        display: block;
        position: absolute;
        border: 0px solid green;
        left: 70%;      top:2.5%;
        width: 28.0%;   height: 5.0%;
        text-align: right;
        font-size: 10;  color: white;
        overflow: none;
    }
}


</style>

<body>

{% extends "prodotti_coll_tipo_K.html" %}

{% block title %}<title>Prodotto</title>{% endblock %}
{% load static %}

<!--    ================ VIEWS PRODOTTO ======================== -->
{% block content %}

<div class = "scheda-prod">
    {% if img_scheda %}
         <img class = "scale-size-big" src="{% static img_scheda %}" alt="{{ img_scheda }}"
         style="height:100%; border: 0px solid white;"/>
    {% endif %}
</div>  <!-- scheda-prod -->

<div class = "image-prodotto">
    {% for img in prod_images %}
         <img class = "scale-size-big" src="{% static img.path %}" alt="{{ img.path }}"
              style="height:85%; border: 0px solid white;"/>
    {% endfor %}
</div>  <!-- image prodotto -->

<div class="tytle-page">
    {% if images_count > 1 %}
       <p style = "display: inline-block;"> {{ prodotto_nome }}
          <div style = "display: inline-block; font-size: 15"> &nbsp;&nbsp;({{ images_count }}) </div> </p>
    {% else %}
       <p> {{ prodotto_nome }} </p>
    {% endif %}
</div> <!-- tytle -->

<div class = "text-elenco">
    <a class = "link" style = "font-size: 11px;"
                href="{% url 'elenco' 1 collezione_id %}"><b> >> Elenco di {{ collezione_nome }} </b></a>
</div> <!-- text-elenco -->

<div class = "tipi-prod">
    <a href="{% url 'collezione-detail' collezione_id %}"
           style = "font-family: Anton; color: white; font-size: 14"> {{ collezione_nome }}
    </a> <br>
    {% for tip in tipi %}
        <a href="{% url 'tipo-detail' tip.pk %}"
           style = "color: white"> {{ tip }}
        </a> <br>
    {% endfor %}<br>

    {{ misura }}<br>
    {{ altezza }}<br>
    {{ materiale }}<br><br>

    {% for luc in prodotto_luc %}
        {% if luc.quantita %}
            {{ luc.quantita }} x {{ luc.lampadina }}<br>
        {% endif %}
    {% endfor %}<br>
<!--    <pre style = "background: black, color: white" > {{ variante }} </pre><br>-->

    {% for prog in prodotto_progetti %}
        <a href="{% url 'progetto-detail' prog.stanza prog.id %}"
           style = "color: white"> >> {{ prog.menu }}
        </a> <br>
    {% endfor %}<br>

</div>  <!-- tipi-prod -->



{% endblock %}  <!-- content -->



</body>
</html>