
<style>

    .right-nome-top {
        background: none;
        position: absolute;
        top: 0%;        left: 20px;
        width: 90.0%;   height: 15.0%;
        font-family: Anton;
        font-size: 15px;
        color: yellow
        border: 1px solid white;
    }

    .text-elenco {                            /* mobile */
        display: none;

    }


@media (min-width: 500px) {

.text-elenco {                            /* computer */
        display: block;
        position: absolute;
        border: 0px solid green;
        left: 60%;      top:2.5%;
        width: 38.0%;   height: 5.0%;
        text-align: right;
        font-size: 10;  color: white;
        overflow: none;
    }
}

</style>

<body>
<!--  ======================================================= -->

{% extends "base_generic_K.html" %}
{% block title %}<title>Prodotti</title>{% endblock %}
{% load static %}

<!--  ========= COLLEZIONE DETAIL === CATALOGO Detail Collezione === TIPI DETAIL === PRODOTTO  -->

{% block content %}

<div class="tytle-page">
     <p> {{ tytle_nome }}  {{ right_text }} </p>
</div>

<div class = "collezione-list">
    {% for prod in prodotti %}
        {% if prod.2 and prod.4 == 1 %}
         <a href="{% url 'prodotto' prod.0 set url_id %}">
            <img class = "scale-size-small" title = "{{ prod.6 }} {{ prod.3 }}"
                 src="{% static prod.2 %}" alt="{{ prod.2 }}"
            style="width:30%;  margin-bottom: 5%"/>  </a>
         {% endif %}
    {% endfor %}
</div>  <!-- collezione-list -->

{% if set != "2" %}
<div class = "text-elenco">
    <a class = "link" style = "font-size: 11px;"
                href="{% url 'elenco' 1 collezione_id %}"><b> >> Elenco di {{ right_text }} </b></a>
</div> <!-- text-elenco -->
{% endif %}

{% endblock %}  <!-- content -->

<!--===================== SIDE RIGHT =============================-->
{% block side_right %}

<div class = "right-image-top">
    {% if set == "1" or set == "4" %}
            <a href="{% url 'collezione-detail' collezione_id %}">
            <img src="{% static right_img %}" alt="{{ right_img }}"
            style="width: 100%; height: 100%; object-fit: fill"/> </a>
    {% endif %}
    {% if set == "2" %}
            <a href="{% url  'tipo-detail' tipo_id %}">
            <img src="{% static right_img %}" alt="{{ right_img }}"
            style="width: 100%; height: 100%; object-fit: fill"/> </a>
    {% endif %}
    {% if set == "3" %}
            <a href="{% url 'catalogo-detail' url_id %}">
            <img src="{% static right_img %}" alt="{{ right_img }}"
            style="width: 100%; height: 100%; object-fit: fill"/> </a>
    {% endif %}
</div> <!-- right-image-top -->


<div class = "right-list">
    {% for prod in prodotti %}

        {% if prod.2 and prod.4 == 1 %}
            {% if prod.5 > 1 %}
        <p style="font-family: Arial; font-size: 11px; color: white; text-align: center" > {{ prod.3 }} ({{ prod.5 }}) </p>
            {% else %}
        <p style="font-family: Arial; font-size: 11px; color: white; text-align: center" > {{ prod.3 }} </p>
            {% endif %}
        <a href="{% url 'prodotto' prod.0 set url_id %}">
                <img class = "scale-size" src="{% static prod.2 %}" alt="{{ prod.2 }}"
                style="height:90px; text-align: center;"/>  </a> </p><br>
        {% endif %}
    {% endfor %}
</div>  <!-- right-list -->

<div class = "right-nome-top">
  <p>{{ right_text }}: {{ prodotti_count}}</p>
</div>

<div class = "novita-mobile">
    {% for prod in prodotti %}
        {% if prod.2 and prod.4 == 1 %}
        <a href="{% url 'prodotto' prod.0 set url_id %}">
                <img class = "scale-size" src="{% static prod.2 %}" alt="{{ prod.2 }}"
                style="width: 30%; text-align: center;"/>  </a>
        {% endif %}
    {% endfor %}
</div>  <!-- novita-mobile -->

{% endblock %}  <!-- side-right   -->

</body>
</html>
