<!--TEMPLATE PROGETTO LIST -->

 <style>

     .image-progetto {
        background: none;
        border: 0px solid white;
        position: absolute;
        left:1.0%;      top:1.0%;
        width: 99.0%;   height: 98.0%;
        padding-left: 0px;
        overflow-y: auto;
   }
   .image-progetto::-webkit-scrollbar {        /* mobile */
        display: none;
   }


      .image-prodotto {                           /* mobile */
        display: none;
        background: none;
        border: 0px solid red;
        position: absolute;
        left:20.0%;       top:8.0%;
        width: 80.0%;   height: 92.0%;
        padding-left: 0px;
        overflow: auto;
    }


@media (min-width: 500px) {

    .image-progetto {                         /* computer */
        background: none;
        border: 0px solid white;
        position: absolute;
        left:1.0%;      top:1.0%;
        width: 50.0%;   height: 98.0%;
        padding-left: 0px;
        overflow-y: auto;
   }
   .image-progetto::-webkit-scrollbar {        /* computer */
        display: none;
   }

.image-prodotto {                           /* computer */
        display: block;
        background: black;
        background: none;
        border: 0px solid red;
        position: absolute;
        left:52.0%;       top:2%;
        width: 46.5%;   height: 97.5%;
        padding-left: 0px;
        text-align: center;
        overflow-y: scroll;

    }
.image-prodotto::-webkit-scrollbar {        /* computer */
        width: 5px;    height: 5px;
}

.image-prodotto::-webkit-scrollbar-thumb {
        background: linear-gradient(to bottom, rgb(50, 50, 50), rgb(200, 200, 200));
        border-radius: 5px;
}

 </style>
<!--  ======================================================= -->

{% extends "base_generic_K.html" %}
{% block title %}<title>Progetto</title>{% endblock %}
{% load static %}

<!--  ======================================================= -->
{% block content %}

<div class = "image-progetto">

         <img src="{% static progetto.path %}" alt="{{ prog.path }}"
         style="height:100%; border: 2px solid black; align-horizontal: center"/>

</div>  <!-- imag-progetto        -->

<div class = "image-prodotto">
    {% for img in prod_images %}
        <a href="{% url 'prodotto' img.0 4 progetto_id %}">
                <img class = "scale-size-small" src="{% static img.1 %}" alt="{{ img.1 }}"
                style="height:50%; border: 2px solid gray;"/>  </a>
         <p></p>
    {% endfor %}
</div>  <!-- image prodotto -->

{% endblock %} <!-- content -->

<!-- ===========  SIDE RIGHT ===================================== -->

{% block side_right %}

   <div class = "right-nome-top">
            <p> {{ progetto_nome }} </p> </div>

    <div class = "right-image-top">
        {% if modo == 2 %}         <!-- modo di progetto unico -->
            <br><br><br>
            <a href="{% url 'progetto' stanza_id %}">
                <p style = "color: white; font-size: 12; text-align: center;"> {{ progetto_stanza }}</p></a>
            {% for prod in prodotti %}
            <a href="{% url 'prodotto' prod.id 4 progetto_id %}">
                <p style = "color: white; font-size: 10; text-align: center;"><b> {{ prod.nome }} </b></p></a>
            {% endfor %}
        {% endif %}
    </div> <!-- right-image-top -->

    <div class = "right-list">
          {% for prog in progettolist %}
            <p style="font-size: 11px; color: white;">{{ prog.menu }}</p>
            <p style=""> <a href="{% url 'progetto-detail' prog.stanza prog.pk %}">
                <img class = "scale-border" src="{% static prog.path %}" alt="{{ prog.path }}"
                     style = "height: 110px;"/>  </a></p>
          <br>
          {% endfor %}
    </div>    <!-- right-list -->

    <div class = "novita-mobile" style = "text-align: left; font-size: 11;">
        <a href="{% url 'progetto' stanza_id %}">
            <p style = "color: white; font-size: 12"> {{ progetto_stanza }}</p></a>
        <br>
        {% for prod in prodotti %}
        <a href="{% url 'prodotto' prod.id 4 progetto_id %}">
            <p style = "color: white; font-size: 12"><b> {{ prod.nome }} </b></p></a>
        {% endfor %}
    </div> <!-- novita-mobile -->

{% endblock %}  <!-- side-right -->


</body>
</html>

