
<style>


    .tytle-add {
        background: none;
        position: absolute;
        left:55%;       top:13.5%;
        width: 35.0%;   height: 15.0%;
        padding-left: 0px;
        font-family: Anton;
        font-size: 15px;
        color: yellow
    }

   .image-progetto {
        background: none;
        border: 0px solid white;
        position: absolute;
        left:0.0%;      top:0.0%;
        width: 100.0%;   height: 100.0%;
        padding-left: 0px;
        overflow: auto;
   }

   .progetto-detail {                     /* mobile */
        position: absolute;
        left: 5%;       top:82%;
        width: 50.0%;   height: 18.0%;
        padding-left: 0;
        font-size: 10;
        line-height: 0.9;
   }

   @media (min-width: 500px) {             /* computer */

    .progetto-detail {
        position: absolute;
        left: -50%;       top:82%;
        width: 50.0%;   height: 18.0%;
        padding-left: 0;
        font-size: 10;

    }

   }


</style>

<body>

{% extends "progetto_list_K.html" %}

{% block title %}<title> Progetto </title>{% endblock %}
{% load static %}

<!--    ==================================================    -->

{% block content %}

<div class = "back-page">
    {% if background %}

    {% endif %}
</div>

<!--<div class="tytle-page">-->
<!--     <p> {{ progetto_nome }} </p>-->
<!--</div>-->

<div class = "image-progetto">

         <img src="{% static progetto.path %}" alt="{{ prog.path }}"
         style="width:100%; border: 2px solid black;"/>

</div>  <!-- image progetto        -->

<div class = "progetto-detail">

    <p style = "color: white; font-size: 14"><b> {{ progetto_nome }}</b></p>
        <a href="{% url 'progetto' stanza_id %}">
            <p style = "color: white; font-size: 12"> {{ progetto_stanza }}</p></a>
        {% for prod in prodotti %}
        <a href="{% url 'prodotto' prod.id 4 progetto_id %}">
            <p style = "color: white; font-size: 12"><b> {{ prod.nome }} </b></p></a>
        {% endfor %}

</div> <!-- progetto-detail -->


</div>


{% endblock %}  <!-- content       -->


</body>
</html>