<!--TEMPLATE PROGETTO LIST -->

 <style>

    .progetto-list {
        background: none;
        color: white;
        position: absolute;
        overflow: auto;
        left:0px;       top:10%;
        width: 100%;   height: 89.5%;
        /* Chrom */                    /* Safari  */             /* FireFox  */
        -webkit-column-width: 100.0%; -moz-column-width: 100.0%; column-width: 100.0%;
        -webkit-column-count: 2;      -moz-column-count: 2;      column-count: 2;
        -webkit-column-gap: 0%;       -moz-column-gap: 0%;       column-gap: 0%;
        -webkit-column-rule: 0px solid #ccc;   -moz-column-rule: 0px solid #ccc;  column-rule: 0px solid #ccc;
    }

    </style>
<!--  ======================================================= -->

{% extends "base_generic_K.html" %}
{% block title %}<title>Progetti</title>{% endblock %}
{% load static %}

<!--  ======================================================= -->
{% block content %}

<div class = "tytle-page">
        <p> {{ text_count }} </p>
</div>

<div class="collezione-list">
<p>
      {% for prog in progettolist %}
      <figure style = "display:inline-block; max-width: 30%; margin: 2.0">
        <p style="font-size: 10px; color: white; margin-top: 0.1em; margin-bottom: 0.5em; text-align: left;" > {{ prog.menu }} </p>
        <a href="{% url 'progetto-detail' prog.stanza prog.pk %}">
            <img class = "scale-border" title = "Lighting {{prog.nome}}"
             src="{% static prog.path %}" alt="{{ prog.nome }}"
             style="width: 90%; box-shadow: 5px 5px 10px white;"/> </a>
        <br> <br>
      </figure>
          {% endfor %}
</p>
</div>   <!-- collezione-list -->




{% endblock %} <!-- content -->

<!-- ===========  SIDE RIGHT ===================================== -->

{% block side_right %}
    {% if modo == 1 %}        <!-- modo di totale stanze -->
    <div class = "right-nome-top">
            <p> Progetti: {{ num_progetti }}</p> </div>
    {% endif %}  <!-- modo di totale stanze -->


<div class = "right-image-top">
    {% if modo == 1 %}        <!-- modo di totale stanze -->
        <br><br>
        {% for stanza in stanzalist %}
            {% if stanza.num_prog > 0 %}
            <p style="text-align: center;">
            <a class = "link" href="{% url 'progetto' stanza.id %}"
               style = "font-size: 12; line-height: 0.8;"><b> {{ stanza.nome }} ({{ stanza.num_prog }}) </b></a></p>
            {% endif %}
        {% endfor %}
    {{ progetto_stanza }}
    {% endif %}  <!-- modo di totale stanze -->

    {% if modo == 2 %}         <!-- modo di progetto unico -->
        <br><br>
        <a href="{% url 'progetto' stanza_id %}">
            <p style = "color: white; font-size: 12; text-align: center;"> {{ progetto_stanza }}</p></a>
        {% for prod in prodotti %}
        <a href="{% url 'prodotto' prod.id 4 progetto_id %}">
            <p style = "color: white; font-size: 12; text-align: center;"><b> {{ prod.nome }} </b></p></a>
        {% endfor %}
    {% endif %}
</div> <!-- right-image-top -->

<div class = "right-list">
     {% for prog in progettolist %}
            <p style="font-size: 11px; color: white;">{{ prog.menu }}</p>
            <p style=""> <a href="{% url 'progetto-detail' prog.stanza prog.pk %}">
                <img class = "scale-border" src="{% static prog.path %}" alt="{{ prog.path }}"
                     style = "height: 110px;"/>  </a></p>
          <br>
     {% endfor %}
</div>    <!-- right-list -->



<div class = "novita-mobile" style = "text-align: left; font-size: 11;">
    {% for stanza in stanzalist %}
            {% if stanza.num_prog > 0 %}
               <a class = "link" href="{% url 'progetto' stanza.id %}">
               {{ stanza.nome }}&nbsp;({{ stanza.num_prog }})</a>
            {% endif %}
    {% endfor %}
</div> <!-- novita-mobile -->

{% endblock %}  <!-- side-right -->


</body>
</html>

