<!--TEMPLATE COLLEZIONE-->

    <style>


    </style>
<!--  ======================================================= -->

{% extends "base_generic_K.html" %}
{% block title %}<title>Tipi di Prodotti</title>{% endblock %}
{% load static %}

<!--  ======================================================= -->
{% block content %}

<div class = "tytle-page">
        <p>Tipi di Prodotti di Jago</p>
</div>

<div class="collezione-list">

      {% for tipo in tiplist %}
      <figure style = "display:inline-block; max-width: 22%; margin: 2.0">
         <p style="font-size: 10; margin-top: 0.1em; margin-bottom: 0.1em; text-align: left;" >{{ tipo.tipo }}</p>
         <a href="{% url 'tipo-detail' tipo.pk %}">
        <img class = "scale-border" src="{% static tipo.path %}" alt="{{ tipo.tipo }}"
         style="width: 90%"/> </a>
         <br> <br>
      </figure>

      {% endfor %}

</div>   <!-- collezione-list -->

{% endblock %}

<!-- =============================================================== -->

{% block side_right %}

<div class = "right-image-top">
     <a href="{% url 'index' %}">
     <img src="{% static 'img_background/tipo_spazio 03 blackblu.jpg' %}" alt=""
            style="border: 1px solid white; width: 100%; height: 100%; object-fit: fill"/> </a>

    <h3 style = "color: white"><b> Tipi di prodotti</b></h3>
</div>

<div class = "right-list">
      <p></p>
      <p style = "font-size: 13; text-align: left;"> <b>Totale: {{num_tipi}} </b></p>
      {% for tipo in tiplist %}
        {% if tipo.prodotto_set.all.count == 0 %}
        <p style="text-align: left;">
           <a class = "link" href="{% url 'tipo-detail' tipo.pk %}"> {{ tipo.tipo }} </a></p>
        {% else %}
        <p style="text-align: left;">
           <a class = "link" href="{% url 'tipo-detail' tipo.pk  %}"> {{ tipo.tipo }}&nbsp;&nbsp;({{tipo.prodotto_set.all.count}}) </a></p>
        {% endif %}
      {% endfor %}
</div>

<div class = "right-nome-top">
  <p> <b> Tipi totali: {{num_tipi}} </b> </p>
</div>

<div class = "novita-mobile" style = "text-align: left; font-size: 11;">
    {% for tipo in tiplist %}
         <a class = "link" href="{% url 'tipo-detail' tipo.pk %}"
            style = "font-size: 11; line-height: 1.5;">{{ tipo.tipo }}&nbsp;({{tipo.prodotto_set.all.count}})</a>
        <br>
    {% endfor %}
</div>


{% endblock %}


